
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1{
    font-family:'Bangers', cursive; 
    text-align: center;
    font-size: 100px;
    animation-name:text;
    animation-duration:5s;
    animation-iteration-count: 100;
}

@keyframes text{
    from{color: #fdfdfd;}
    to{color:#004fb6}
    to{color:red}


}

h2{
     text-align: center;
    font-family: 'Bangers', cursive;
    }

h4{
    position: relative; 
    text-align: center;
    font-family: 'Bangers', cursive;;
    left: 100px;
    top:80px;
    
}

body > img{
    width: 720px;
    height: 300px;
    display: block;
    margin:auto
}

body {
	background: linear-gradient(-45deg, #fdfdfd, #fa0303, #004fb6, #da2020);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

input{
    position: relative;
    left: 450px;
    font-family: 'Bangers', cursive;
}
button{
    font-family: 'Bangers', cursive;;
    position: relative;
    left:460px;
    bottom:-1px;
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}
    button:hover {opacity: 2}


@keyframes gradient {
	0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
body >img{
    width:100px;
    align-content: center;
    display: block;
    margin:100px;
}
div.absolute{
    top: 80px;
}
aside{
    font-family:'Bangers', cursive;
    font-size: 16px;
    position: fixed;
    text-align: center;
    left: 680px;
    bottom:100px;
}